.DS_Store
.vscode
!.vscode/settings.json
!.vscode/extensions.json
.cursorrules
test_results/
tmp/

# GoLand IDEA
/.idea/
*.iml

# AI
CLAUDE.md
.claude/

# executables
/cmd/component2csv/component2csv
/cmd/hpsf/hpsf
